DATABASE_URL="postgresql://user:password@localhost:5432/nrm_lending"
AUTH_SECRET="replace-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
NODE_ENV="development"
NEXT_PUBLIC_APP_NAME="NRM Lending"
